<header class="centered">
    <h2><b>QUANTITATIVE APTITUDE</b></h2>
</header>
<form class="start" action="/questions" method="GET">
    <button class="controls btn " id="start-btn">Start</button>
</form>