<%- include('partials/header') %>

    <%- include('partials/options') %>
        <div class="container">

            <h1>Your score is {% score %}</h1>

        </div>


        <%- include('partials/footer') %>